<!-- login.component.html -->
<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title
        >{{ "COMMON.WELCOME" | translate }}
        {{ "COMMON.TO" | translate }} Hoteleriapp</mat-card-title
      >
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ "AUTH.EMAIL" | translate }}</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
            [placeholder]="'AUTH.EMAIL_PLACEHOLDER' | translate"
          />
          <mat-icon matPrefix>email</mat-icon>
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            {{ "AUTH.EMAIL_REQUIRED" | translate }}
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            {{ "AUTH.EMAIL_INVALID" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ "AUTH.PASSWORD" | translate }}</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
            placeholder="••••••••"
          />
          <mat-icon matPrefix>lock</mat-icon>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            type="button"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            {{ "AUTH.PASSWORD_REQUIRED" | translate }}
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
            {{ "AUTH.PASSWORD_MIN_LENGTH" | translate }}
          </mat-error>
        </mat-form-field>

        <div class="button-container">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            {{ "AUTH.SIGN_IN" | translate }}
          </button>
          <button
            mat-stroked-button
            color="accent"
            type="button"
            routerLink="/register"
          >
            {{ "AUTH.SIGN_UP" | translate }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
